.checkout{
    display: flex;
    padding: 20px;
    height: max-content;
    background-color: white;
}
.checkout-add{
    width: 100%;
    margin-bottom: 15px;
}
.checkout_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
@media only screen and (max-width: 600px){
    .checkout{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        height: max-content;
        background-color: white;
    }
}