.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    /* padding-left: 30px;
    padding-right: 30px; */
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 111;
    transition: 0.5s ease-in-out;
}
.product:hover{
    transform: scale(1.02);
    box-shadow: -2px 3px 28px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 3px 28px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 28px 0px rgba(0,0,0,0.75);
}
.product_rating{
    display: flex;
}
.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product > button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    margin-top: 10px;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.5s ease-out;
    border-radius: 5px;
    font-weight: 500;
}
.product > button:hover{
    background-color: #dfac2a;
}
.product_price{
    margin-top: 5px;
}
.product_info{
    height: 100px;
    margin-bottom: 15px;
}